<div class="page">
    <app-phone-page-title [iconClass]="'bx bx-envelope'" [title]="'Contact'"></app-phone-page-title>
    <div class="heading">Let's Work <a class="name">Together!</a></div>
    <br><br>
    <div class="title"><a class="name">Message</a> me on:</div>
    <div class="icons">
        <a class="social" href="https://www.linkedin.com/in/sagar-maheshwari-645318192/" target="_blank" rel="noopener noreferrer">
            <i class="bx bxl-linkedin icon"></i>
            <a class="social-text">Linkedin</a>
        </a>
        <a class="social" href="https://www.instagram.com/_sagar_maheshwari__/" target="_blank" rel="noopener noreferrer">
            <i class="bx bxl-instagram icon"></i>
            <a class="social-text">Instagram</a>
        </a>
        <a class="social" href="https://www.github.com/sagarmaheshwari/" target="_blank" rel="noopener noreferrer">
            <i class="bx bxl-github icon"></i>
            <a class="social-text">Github</a>
        </a>
    </div>
    <br>
    <a class="title">or</a>
    <br> <br> <br>
    <a class="social" href="mailto:maheshwarisagar2001@gmail.com?subject=Let's%20Work%20Together">
        <i class="bx bx-envelope icon"></i>
        <a class="social-text">Send me an <a class="name">e-mail</a></a>
    </a>
</div>