.page {
    height: 95vh;
    width: 100%;
    font-family: grotesk;
    color: #F2F2F2;
    box-sizing: border-box;
    padding: 5vh 0;
}

.heading {
    margin-top: 4vh;
    font-size: 8vw;
    font-weight: 300;
    line-height: 1.1;
}

.name {
    color: #4FC978;
}

.description {
    font-size: 2vw;
    color: #F2F2F2;
    line-height: 1.6;
    text-justify: distribute;
    margin-left: 0 auto;
    text-align: center;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vw;
    padding-top: 2vw;
}

.social {
    display: flex;
    border: 1px solid #808080;
    border-radius: 2.5vw;
    height: 5vw;
    padding: 0 3vw;
    text-decoration: none;
    box-sizing: border-box;
    width: 33vw;
}

.social:hover {
    border: 2px solid #F2F2F2;
}

.social:hover .icon{
    color: #4FC978;
}

.icon {
    color: #AAAAAA;
    margin: auto 0;
    font-size: 2.5vw;
}

.social-text {
    margin: auto 0;
    margin-left: 2vw;
    color: #F2F2F2;
    font-size: 2.5vw;
}

.title {
    font-size: 4.5vw;
    margin-top: 3vh;
    margin-bottom: 1vh;
}