.page {
    margin-top: 11vh;
    height: 89vh;
    width: 100%;
    font-family: grotesk;
    color: #F2F2F2;
    box-sizing: border-box;
}

.heading {
    margin-top: 4vh;
    font-size: 4vw;
    font-weight: 300;
    line-height: 1.1;
}

.name {
    color: #4FC978;
}

.description {
    font-size: 1vw;
    color: #808080;
    line-height: 1.6;
    text-align: justify;
    text-justify: distribute;
}