.body {
    width: 74vw;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.content {
    width: 63vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 5vw;
}

.wide {
    width: 100vw;
}

.phone-content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 5vw;
}

.navigation-bar {
    width: 10vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1vw;
    padding-top: 4vh;
}

.menu {
    color: #F2F2F2;
    border: 1px solid #808080;
    height: 2.8vw;
    width: 2.8vw;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.4vw;
    font-size: 1.6vw;
    text-align: center;
    padding: 0.6vw 0.5vw;
}

.menu:hover {
    border: 1px solid #F2F2F2;
    cursor: pointer;
}

.navigation-icons {
    width: 2.8vw;
    border: 1px solid #808080;
    display: flex;
    flex-direction: column;
    border-radius: 1.4vw;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2vh 0;
}

.navigation-icons:hover {
    border: 1px solid #F2F2F2;
}

.icon {
    font-size: 1.2vw;
    color: #808080;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2vh;
    margin-bottom: 1.2vh;
    text-decoration: none;
    cursor: pointer;
}

.icon:hover {
    color: #F2F2F2;
}

.inView {
    color: #4FC978;
}