<div class="page">
    <app-phone-page-title [iconClass]="'bx bx-briefcase'" [title]="'Resume'"></app-phone-page-title>
    <div class="heading">
        Education & <a class="name">Experience</a>.
    <br><br>
    </div>
    <div class="flow">
        <div class="timeline">
            <div class="points"></div>
            <a class="description">2023 - Present</a>
            <a class="position">Full Stack Developer</a>
            <a class="institute">BNY Mellon</a>
            
        </div>
        <div class="timeline" style="border-right: 1px dotted #808080;">
            <div class="points"></div>
            <div class="point-right"></div>
            <a class="description">Jan - Jun, 2023</a>
            <a class="position">Full Stack Developer Intern</a>
            <a class="institute">BNY Mellon</a>
        </div>
        <div class="timeline" style="border-right: 1px dotted #808080;">
            <div class="points"></div>
            <a class="description">2021 - 2022</a>
            <a class="position">Data Science Associate</a>
            <a class="institute">Celebal Technologies</a>
        </div>
        <div class="timeline-ed" >
            <div class="point-right"></div>
            <a class="description">2019 - 2023</a>
            <a class="position">Bachelor in Technology</a>
            <a class="institute">Computer Science & Engineering</a>
            <a class="institute">Celebal Technologies</a>
        </div>
    </div>
</div>