.page {
    height: 90vh;
    width: 100%;
    font-family: grotesk;
    color: #F2F2F2;
    box-sizing: border-box;
    padding: 5vh 0;
}

.heading {
    margin-top: 4vh;
    font-size: 8vw;
    font-weight: 300;
    line-height: 1.1;
}

.name {
    color: #4FC978;
}

.description {
    font-size: 2vw;
    color: #F2F2F2;
    line-height: 1.6;
    text-justify: distribute;
    margin-left: 0 auto;
    text-align: center;
    line-height: normal;
}

.grid {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 25vh 25vh;
    margin-top: 5vh;
}

.skill {
    display: flex;
    flex-direction: column;
    border: 1px solid #808080;
    border-radius: 15vw;
    height: 22vh;
    width: 25vw;
    font-size: 20vw;
}

.icon {
    margin: 4vh auto 4vh auto;
}