<div class="page">
    <app-phone-page-title [iconClass]="'bx bxs-shapes'" [title]="'Skills'"></app-phone-page-title>
    <div class="heading">My <a class="name">Advantages</a></div>
    <br><br>
    <div class="grid">
        <div class="skill">
            <i class="bx bxl-angular icon"></i>
            <a class="description">Angular</a>
        </div>
        <div class="skill">
            <i class="bx bxl-python icon"></i>
            <a class="description">Python</a>
        </div>
        <div class="skill">
            <i class="bx bxl-java icon"></i>
            <a class="description">Java</a>
        </div>
        <div class="skill">
            <i class="bx bxl-spring-boot icon"></i>
            <a class="description">Spring boot</a>
        </div>
        <div class="skill">
            <i class="bx bxl-mongodb icon"></i>
            <a class="description">MongoDB</a>
        </div>
        <div class="skill">
            <i class="bx bx-code-alt icon"></i>
            <a class="description">DS & A</a>
        </div>
    </div>
</div>