<div class="page">
    <app-phone-page-title [iconClass]="'bx bx-home'" [title]="'Introduction'"></app-phone-page-title>
    <div class="heading">Hi from <a class="name">Sagar</a>,<br></div> <div class="heading-2">Full Stack Developer</div>
    <br><br>
    <div class="description">I code beautifully simple things,<br> and I love what I do. <br> Simple as that!</div>
    <br><br>
    <div class="exp">
        <div class="exp-block">
            <a class="heading name">6+</a>
            <a class="description">MONTHS OF <br>EXPERIENCE</a>
        </div>
        <div class="exp-block">
            <a class="heading name">4+</a>
            <a class="description">PROJECTS<br>WORKED UPON</a>
        </div>
    </div>
</div>