<div class="body">
    <div class="screen">
        <div class="title">
            <div class="title-name"><div style="margin: auto;">Sagar</div></div>
            <div class="title-role"><div style="margin: auto;">Full Stack <br> Developer</div></div>
        </div>
        <div class="dp">
            <img src="./././assets/sagar.jpg" alt="Sagar" width="270px" class="dp">
        </div>
        <div class="info">
            <p>maheshwarisagar2001<br>@gmail.com</p>
            <i class="bx bxs-map" style="margin-right: 3px;"></i>Pune, Maharashtra
        </div>
        <div class="social">
            <i class="bx bxl-linkedin social-icon"></i>
            <i class="bx bxl-instagram social-icon"></i>
            <i class="bx bxl-github social-icon"></i>
        </div>
        <div class="hire">
            <i class="bx bx-envelope hire-icon"></i>
            <a class="hire-text">&nbsp; Contact Me! </a>
        </div>

    </div>
</div>