<div class="page">
    <app-page-title [iconClass]="'bx bx-home'" [title]="'Introduction'"></app-page-title>
    <div class="heading">Hi from <a class="name">Sagar</a>,<br> Full Stack Developer</div>
    <br><br>
    <div class="description">I code beautifully simple things and I love what I do. <br> Simple as that!</div>
    <br><br>
    <div class="exp">
        <div class="exp-block">
            <a class="heading name">1+</a>
            <a class="description">YEARS OF <br>EXPERIENCE</a>
        </div>
        <div class="exp-block">
            <a class="heading name">5+</a>
            <a class="description">PROJECTS<br>WORKED UPON</a>
        </div>
    </div>
</div>