.tile {
    display: flex;
    flex-direction: row;
    border: 1px solid #808080;
    color: #CCCCCC;
    font-family: grotesk;
    border-radius: 2vw;
    height: 4vw;
    width: min-content;
    padding: 0 2vw;
    box-sizing: border-box;
    font-size: 1.8vw;
}

.icon {
    margin: auto;
    font-size: 1.8vw;
}

.title {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5vw;
}