<div class="page">
    <app-phone-page-title [iconClass]="'bx bx-user'" [title]="'About'"></app-phone-page-title>
    <div class="heading">
        Curiosity-driven developer on an ever-<br><a class="name">evolving journey</a>.
    </div>
    <br>
    <p class="description">Curiosity is the engine that drives my journey as a 
        full-stack developer. It fuels my passion, ignites my creativity, and 
        propels me to explore new horizons in the ever-evolving world of technology. 
        With each line of code, I embrace the opportunity to unravel complex problems,
        create meaningful solutions, and make a positive impact. My insatiable curiosity 
        and unwavering enthusiasm form the foundation of my unwavering commitment to
        continuous growth and innovation.</p>
</div>